# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.2D PlatForm （second Time）.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Unity工程\Unity Project\Documents\10.13\2D PlatForm （second Time）\.idea\.idea.2D PlatForm （second Time）\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
